@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
}
a {
  color: #161c2d;
  text-decoration: none; /* Remove underline */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo {
  font-family: "Rubik", sans-serif;
  height: 28px;
  width: 154px;
  display: flex;
  color: #161c2d;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  justify-content: center;
  margin-left: 20px;
}
.header-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 26px;
}
.header-mid-menu {
  display: flex;
  color: #161c2d;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}
.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.header-cart:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f7fa;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.header-cart-icon {
  display: flex;
  position: absolute;
  z-index: 1;
  left: 8px;
  bottom: 8px;
  height: 30px;
  width: 30px;
}
.header-cart-notif {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 4px;
  right: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #68d585;
}
.header-cart-text {
  display: flex;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 533px;
  margin-bottom: 33px;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  height: 412px;
  width: 1077px;
  justify-content: center;
  align-items: center;
}
.inner-1 {
  display: flex;
  width: 1077px;
  gap: 65px;
  justify-content: space-around;
  margin-bottom: 108px;
}
.inner-menu-1 {
  display: flex;
  flex-direction: column;
}
.footer-menu-title {
  color: #161c2d;
  font-family: Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -0.1px;
  line-height: 26px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.footer-menu-items {
  color: #161c2d;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 26px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.footer-menu-blue {
  color: #473bf0;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 26px;
  border-radius: 4px;
  margin-bottom: 15px;
}
.inner-menu-2 {
  display: flex;
  flex-direction: column;
}
.inner-menu-3 {
  display: flex;
  flex-direction: column;
}
.inner-menu-4 {
  display: flex;
  flex-direction: column;
}
.inner-menu-5 {
  display: flex;
  flex-direction: column;
}
.inner-2 {
  display: flex;
  flex-direction: column;
  width: 1050px;
}
.footer-copyrgiht {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}
.copyright-text-1 {
  color: #161c2d;
  font-family: Arial, sans-serif;
  font-size: 15px;
  letter-spacing: -0.1px;
  line-height: 26px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-right: 5px;
}
.green-heart {
  width: 14px;
  height: 12px;
}
.social {
  display: flex;
  width: 166px;
  justify-content: end;
  gap: 30px;
  align-items: center;
}

.twitter {
  width: 18px;
  height: 15px;
}
.facebook {
  width: 19px;
  height: 19px;
}
.Main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f4f7fa;
  width: 100vw;
}
.Contact-us-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact-us-title {
  color: #161c2d;
  font-size: 60px;
  font-family: Arial;
  font-weight: 700;
  margin-bottom: 44px;
  margin-top: 81px;
}

.Contact-us-description {
  text-align: center;
  color: #161c2d;
  font-size: 19px;
  font-family: Arial;
  font-weight: 400;
  line-height: 32px;
  word-wrap: break-word;
  margin-bottom: 61px;
}

/* Pricing */
.pricing-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 520px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #e7e9ed;
  background: #fff;
  padding-top: 39px;
  padding-left: 49px;
  padding-bottom: 38px;
}

.Pricing-title {
  color: #473bf0;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.625px;
  text-transform: uppercase;
  margin-bottom: 41px;
  margin-bottom: 41px !important;
}
.pricing-price {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.pricing-price-1 {
  color: #161c2d;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
}
.pricing-price-2 {
  color: #161c2d;
  font-family: Arial;
  font-size: 60px;
  font-weight: 700;
  margin-top: -8px; /* Adjust the value as needed */
  margin-bottom: -8px;
}
.pricing-price-3 {
  color: #161c2d;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
}

.billed-monthly {
  color: #161c2d;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
  letter-spacing: -0.1px;
  margin-bottom: 38px;
}
.list-1 {
  display: flex;
  align-items: center;
  gap: 11px;
}
.list-1-text {
  display: flex;
  align-items: center;
  color: #161c2d;
  font-family: Arial;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 170.588% */
  letter-spacing: -0.2px;
}
.list-gap-shaadag-psda {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 31px;
}
.Start-free-trial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 59px;
  border-radius: 8px;
  background: #f0effe;
  gap: 37px;
  margin-bottom: 12px;
}
.Start-free-trial-text {
  color: #473bf0;
  font-family: Arial;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 188.235% */
  letter-spacing: -0.6px;
}
.No-credit-card {
  color: #161c2d;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 173.333% */
  letter-spacing: -0.1px;
}
.Prcing-section-main-container {
  display: flex;
  gap: 31px;
  margin-bottom: 115px;
}
/* start free trial 49 */
.Start-free-trial-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 59px;
  border-radius: 8px;
  background: #473bf0;
  gap: 37px;
  margin-bottom: 12px;
}
.Start-free-trial-text-1 {
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 188.235% */
  letter-spacing: -0.6px;
}
.Feature-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 73px;
}
.Feature-container-title {
  color: #161c2d;
  text-align: center;
  font-family: Arial;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.Feature-container-description {
  color: #161c2d;
  text-align: center;
  font-family: Arial;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}
.Feature-small-container {
  display: flex;
  align-items: flex-start;
  gap: 23px;
}
.Feature-small-container-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Feature-small-container-1-title {
  color: #161c2d;
  font-family: Arial;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 152.381% */
  letter-spacing: -0.5px;
}
.Feature-small-container-1-description {
  color: #161c2d;
  font-family: Arial;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 170.588% */
  letter-spacing: -0.2px;
}
.feature-padding-top-5px {
  display: flex;
  margin-top: 5px;
}
.Freature-column-container {
  display: flex;
  flex-direction: column;
  gap: 71px;
  margin-bottom: 141px;
}
.Freature-row-container-1 {
  display: flex;
  gap: 35px;
}
